<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dn_alan.module2">

    <application android:name=".Module2Application">
        <activity android:name="com.example.module2.Module2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
